.buttoSharedSettings {
	border: 1px solid #eee;
	width: 100%;
	text-align: center;
}
.buttonGeneral {
    margin-top: 10px;
    padding: 50px;
}
.buttonMakeGame {
	margin-top: 20px;
    padding: 120px;
}
.buttonVariables {
    padding: 100px;
}
.inline {
	display: inline-block;
}
.gabespopups {
	display: none;
	width: 200px;
	height: 100px;
	margin: 20px auto;
	padding: 6px;
	font-size: 16px;
	color: rgb(255,255,255);
	text-align: center;
	border: 3px solid rgb(127,0,0);
	background-color: rgb(255,0,0);
	opacity: 1;
	transition: opacity 3s linear 1s;
}
