#topHeader {
	width: 100%;
	text-align: center;
}
.button {
	padding: 100px 0;
	border: #eee solid;
	text-align: center;
	margin-bottom: 30px;
}
.button span {
	display: inline-block;
	vertical-align: middle;
}

.inline {
	display: inline-block;
}

.historybar {
	height: 90%;
	width: 15%;
	border-left: 10px solid red;
	margin-left: 84%;
	margin-top: 0%;
	background-color: black;
	display: block;
	position: absolute;
	overflow: scroll;
}

.historybar span {
	color: white;
	clear: both;
}

.historybar .sideJob, .getPaid {
	background-color: green;
}

.historybar .paidRent, .warning {
	background-color: red;
}

.historybar .quitJob {
	background-color: red;
	color: blue;
}

.historybar .workLoad {
	background-color: blue;
}

.historybar .workOnGame {
	background-color: green;
	color: red;
}

.historybar .hiredEmployee {
	background-color: green;
	color: red;
}